button {
  background: transparent;
  border: none;
}

p {
  font-size: 1.3rem;
  text-align: center;
  color: grey;
}

.drawer-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  background: #181818;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.4);
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 9999;
  overflow-y: auto;
}

.drawer-wrapper.active {
  transform: translateX(0);
}

.close-btn {
  background: none;
  border: none;
  font-size: 1.3rem;
  color: #fff;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.empty-message {
  color: #fff;
  margin-top: 60px;
  font-size: 2rem;
  text-align: center;
}
