/* ========================= HERO ========================= */
.hero {
  height: 600px;
  background-image: url("/hero.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-items-wrapper {
  position: absolute;
  top: 35%;
  left: 30px;
}

h1 {
  font-size: 4rem;
  color: #c52020;
  margin-bottom: 20px;
}

/* Ombra sfumata sotto il background dell'hero */
.hero::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 160px;
  pointer-events: none;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgb(21, 21, 21) 100%
  );
}
