/* ========================= CSS RESET ========================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* ========================= GENERAL RULES ========================= */
a {
  text-decoration: none;
  color: white;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
  color: white;
}

h2,
h3 {
  font-weight: 600;
  font-size: 1.5rem;
}

h2 {
  font-style: italic;
  font-family: "Lato", sans-serif;
  margin-bottom: 30px;
}

h4 {
  color: rgb(149, 149, 149);
  font-style: italic;
  margin-top: 5px;
}
